<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_21133107_Tuan3.Properties.Settings.cnnStr" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=QuanLy;Integrated Security=True;MultipleActiveResultSets=False;Connect Timeout=30;TrustServerCertificate=False;Application Name=&quot;Microsoft SQL Server Data Tools, Create Project&quot;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>